<h1>Profile</h1>

<p>
    First Name:
    {{user.firstName}} 
</p>
<p>
    Last Name:
    {{user.lastName}}
</p>
<p>
    Email:
    {{user.email}}
</p>
<p>
    Age:
    {{user.age}}
</p>
<p>
    Admin:
    {{user.isAdmin}}
</p>

<br/>

<a href='/logout'>Log out</a>